@font-face {
    font-family: "Lucky_Guy";
    src: url("./img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    overflow-x: hidden;
    
}

#screen {
height: 100vh;
    width: 100vw;
    font-family: Lucky_Guy;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: midnightblue;
    background-image: url('img/3.Background/Dark/1.png');
    color: #7fffe0;
}

canvas {
    background-color: orange;
    /* border-radius: 24px; */
    display: block;
}

h1 {
    font-size: 64px;
}

.d-none {
    display: none !important;
}

#fullScreenButton{
    position: absolute;
    left: 20px;
    top: 20px;
}


#startScreen {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    box-shadow: 11px 11px 11px 11px rgb(0 0 0 / 44%);
    border-radius: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

#startButton {
    position: absolute;
    top: calc(100%/2 - 30px);
    height: 28px;
    opacity: 0.8;
    animation: 600ms pulsate infinite;
}

@keyframes pulsate {
   50% {scale: 1.2;}
}

#startButton:hover {
    opacity: 1;
    
}

#restartButton{
    position: absolute;
    bottom: 6px;
    left: calc(100vw/2 - 60px);
}


#endScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* box-shadow: 11px 11px 11px 11px rgb(0 0 0 / 44%); */
    margin-left: 24px;
    margin-right: 24px;
    padding: 24px;
    position: relative;
    min-height: 250px;
}

#endScreenPic{
    width: 90vw;
    max-height: 90vh;
}

.button {
    height: 60px;
    width: 120px;
    object-fit: contain;
    cursor: pointer;
}

.headline {
    text-align: center;
}

.explanation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.explanationBox {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 190px;
}

.explanation img {
    width: 180px;
}

#mobileControlL{
    display: flex;
    position: absolute;
    left: 60px;
    bottom: 20px;
    gap: 24px;
}

#mobileControlR{
    display: flex;
    position: absolute;
    right: 60px;
    bottom: 20px;
    gap: 24px;
}

.mobileControl{
    opacity: 0.8;
    display: none;
}

#mobileControl h6{
    color: #7fffe0;
    font-size: 16px;
    margin-block-start: 6px;
    margin-block-end: 6px;
}

.mobileButtonDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobileButton{
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    background-color: #7fffe0;
    border-color: white;
    color: midnightblue;
}

.landscape{
    display: none;
}

@media (orientation: portrait) and (max-width: 720px) {
    .landscape {
      display: block;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    #startScreen {
        box-shadow: none;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #endScreen{
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #sideMenu{
        display: none;
    }

    #name{
        display: none;
    }

    .mobileControl{
        display: block;
    }

    .explanation {
        overflow: scroll;
        height: 300px;
    }

    #startButton {
        top: 520px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    #sideMenu {
        display: none;
    }

    #name{
        display: none;
    }
    #startScreen {
        box-shadow: none;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #endScreen{
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .mobileControl{
        display: block;
    }

    #startButton {
        top: 120px;
    }

    .explanation {
        overflow: scroll;
        height: unset;
    }
}




